@use "./components/common/navbar";
@use "././pages/auth/auth";
@use "./components/common/layout";
@use './components/common/pagination';
@use './components/common/sidebar';
@use './components/common/intake';
@use './components/common/intake-details';
@use './components/client/intake-form';
@use './components/client/dashboard';
@use './components/admin/audit-log';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

